@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables */
:root {
  --primary-color: none;
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

@font-face {
  font-family: 'Flighty Regular';
  src: url(./fonts/FlightyRegular-vm7zA.ttf) format('ttf');
}

@layer components {
  .header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    display: grid;
    grid-auto-flow: column;
    height: 3.5rem;
    font-family: 'Flighty Regular';
  }

  .side-bar {
    border-right-width: 2px;
    width: 16rem;
    height: 100vh;
    position: fixed;
    z-index: 10;
    visibility: hidden;
  }

  .projects-filter {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .main-filter>*,
  .projects-filter>* {
    display: block;
    margin-top: 1rem;
    padding-left: 0.5rem;
  }

  .main-filter>*:first-child {
    margin-top: 1.3rem;
  }

  .projects-filter>*:first-child {
    margin-top: 0.5rem;
  }

  .due-date,
  .todo-edit,
  .todo-delete {
    align-self: center;
    justify-self: end;
  }

  .due-date {
    cursor: none;
  }

  .title,
  .description,
  .due-date {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .title {
    grid-area: title;
  }

  .description {
    grid-area: desc;
  }

  .due-date {
    grid-area: deadline;
  }

  .todo-edit {
    grid-area: edit;
  }

  .todo-delete {
    grid-area: delete;
  }

  main {
    display: grid;
    gap: 1.25rem;
    margin: 1.25rem;
  }

  .content-heading {
    flex-grow: 1;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .project-title {
    flex-grow: 1;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .project-item {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 40px 40px;
    align-items: center;
    column-gap: 1rem;
    border-width: 2px;
    border-radius: 0.5rem;
    padding: 1.25rem;
    cursor: pointer;
  }

  .todo-item {
    display: grid;
    grid-template-columns: min-content minmax(9rem, 1fr) minmax(7rem, max-content) 40px 40px;
    grid-template-rows: repeat(2, minmax(0, 24px));
    grid-template-areas:
      "checkbox title deadline edit delete"
      "checkbox desc  deadline edit delete";
    column-gap: 1rem;
    border-width: 2px;
    border-radius: 0.5rem;
    padding: 1.25rem;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-all;
  }

  .modal-overlay {
    top: 0;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    position: fixed;
    z-index: 1010;
    width: 100vw;
    max-width: 100%;
    height: max-content;
    max-height: 100%;
    overflow: auto;
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 1.5rem;
  }

  .form-item {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-width: 0px;
    border-radius: 0.375rem;
    background-color: #f3f4f6;
  }

  .form-item:focus {
    border-width: 2px;
    border-color: #000000;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    background-color: #ffffff;
  }

  .modal-content>label>div {
    padding-top: 1.75rem;
  }
}

@layer utilities {
  .check-mark {
    width: 1.25rem;
    height: 1.25rem;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  .check-box {
    grid-area: checkbox;
    display: grid;
    place-content: center;
    grid-row: span 2 / span 2;
    width: 1.75rem;
    height: 1.75rem;
    align-self: center;
    justify-self: start;
    border-radius: 50%;
    border-width: 2px;
    cursor: pointer;
    color: white;
  }

  .nav-item {
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }

  .centered-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}